.shareContainer{
    display:flex;
    margin-bottom: 45px;
}

.shareIcons{
    float:left;
    margin: 10px;
    cursor: pointer;
}

.publish-story-message{
    margin-left: 10px; 
    font-size: 10px;
}

.share-section-heading{
    margin-top:30px; 
    font-weight:500;
    margin-left:10px; 
    font-size:1.3em;
    margin-bottom:10px; 
}

.share-url-div{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 90vw;
}

.share-url{
    margin-left:10px; 
    font-size:0.85em;    
}

.left-margin-10{
    margin-left:10px;
}

.share-tooltips{
    cursor: pointer; 
    color: rgb(0, 76, 78);
    margin: 0 5px 0 5px;
}

.unpublishBlockprobeButton{
    background:rgb(252, 31, 31) !important;
    color:rgb(219, 243, 242) !important;
    margin-left:1em !important;
    margin-top:0 !important;
    size:2.6em !important;
    border:none;
}

.unpublishBlockprobeButton:hover{
    box-shadow: 2px 2px 10px 2px rgb(95, 95, 95);
}

.publishBlockprobeButton{
    background:rgb(4, 59, 2) !important;
    color:rgb(219, 243, 242) !important;
    margin-left:1em !important;
    margin-top:0 !important;
    size:2.6em !important;
    border:none;
}

.publishBlockprobeButton:hover{
    box-shadow: 2px 2px 10px 2px rgb(95, 95, 95);
}

.addToWallButton{
    background:rgb(2, 46, 59) !important;
    color:rgb(219, 243, 242) !important;
    margin-left:1em !important;
    margin-top:0 !important;
    size:2.6em !important;
    border:none;
}

.addToWallButton:hover{
    box-shadow: 2px 2px 10px 2px rgb(95, 95, 95);
}

.contributeOptionText{
    margin-left:1em !important;
    font-size: 12px;
    font-style: italic; 
    color: black;
}

.shareTooltipTextContainer{
    padding: 3px; 
    margin: 0 1em 1em 1em; 
    background: rgba(101, 155, 177, 0.363);
    border-radius: 5px;
}