.toolbar {
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height: 64px;
}

.toolbar__navigation{
    display: flex;
    height: 100%;
    align-items: center;
}

.toolbar__navigation-items ul{
    list-style: none;
    margin-right: 1.5rem;
    padding: 0;
    display: flex;
}

.toolbar__navigation-items li{
    padding: 0 0.5rem;
}

.toolbar__navigation-items a{
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.logged-in-content{
    margin-top:66px; 
    position:fixed; 
    height:93%; 
    width: 100%;
}

.lpTabPaper{
    flex-grow: 1; 
    display: inline-block; 
    box-shadow: 2px 2px 10px 2px rgb(206, 204, 204) !important;
}

.lpTabContainer{
    text-align: center;
    margin-top: 1em;
}

.blockprobe-list-container{
    width:100%; 
    height:100%; 
    overflow-y:scroll !important;
    overflow-x: hidden !important;
}

.spacer {
    flex: 1;
}

.user-session-shadow-view{
    border: 1px black solid;
    background:white;
}
.user-session-shadow-view:hover{
    box-shadow: 3px 3px 10px 3px rgb(182, 181, 181);
}

.cue-card-container-v2{
    margin-bottom: 10px;
}

.cue-card-container{
    border: 1px lightgray solid;
    border-radius: 5px;
    margin-bottom: 10px;
}
.cue-card-container:hover{
    box-shadow: 2px 2px 10px 2px rgb(206, 204, 204);
}

.cue-card-text{
    font-size: 16px;
}

.body-color-backup{
    background: #ffffff;
}

.body-color-gradient{
    background: linear-gradient(-45deg, #fdfdfd, #a566f7, #7cf5ef, #ffd875);
    background-size: 400% 400%;
	-webkit-animation: Gradient 15s ease infinite;
	-moz-animation: Gradient 15s ease infinite;
	animation: Gradient 15s ease infinite;
}

  @-webkit-keyframes Gradient {
    0% {
    background-position: 0% 50%
    }
    50% {
    background-position: 100% 50%
    }
    100% {
    background-position: 0% 50%
    }
  }
  
  @keyframes Gradient {
    0% {
    background-position: 0% 50%
    }
    50% {
    background-position: 100% 50%
    }
    100% {
    background-position: 0% 50%
    }
  }

.shareContainer{
    display:flex;
}

.shareIcons{
    float:left;
    margin: 10px;
    cursor: pointer;
}

#react-joyride-portal{
    will-change: opacity;
}

.react-joyride__spotlight{
    background-color: rgba(255,255,255,0.5) !important;
}

.opacity-reduced{
    opacity: 0.65;
}

.background-white-partiallyOpaque{
    background:white;
    opacity: 0.75;
}

.landing-view-container{
    opacity:0.85;
    background:white;
}

.user-session-login-container-v2{
    margin: 2%;
    text-align: center;
}

.user-session-shadow-view-v2{
    background:white;
    padding: 10px;
    display: inline-block;
}

.userSessionLoginHeader{
    font-size:16px;
}

.background-image {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 1;
    transition: 1s;
    height: 100%;
    width: 100%;
  }
  
  .teacherImage {
    z-index: -1;
  }
  
  .journalistImage {
    z-index: -2;
  }
  
  .politicianImage {
    z-index: -3;
  }

  .toolbar__logo{
    font-weight: bold !important; 
    font-size: 20px !important;
  }


@media only screen and (min-width: 781px) {
    .landing-view-container{
        width: 60%; 
        padding: 0 10px 30px 10px; 
        margin: 0 0 0 0;
        min-height:100vh;
    }

    .toolbar__logo a{
        color: white;
        text-decoration: none;
        font-size: 1.5rem;
        padding-left: 1.5rem;
    }

    .user-session-login-container{
        margin: 2%;
    }

    .mobile-landing-page{
        display: none;
    }
}

@media only screen and (max-width: 780px) {

    .landing-view-container{
        width: 100%; 
        padding: 0 10px 30px 10px; 
    }

    .toolbar__logo{
        display: none;
    }

    .userName{
        display: none;
    }

    .user-session-login-container{
        margin: 2%;
    }

    .mobile-landing-page{
        padding:10px 0 10px 0;
    }
}