.tooltip-selection{
    color:blue; 
    cursor: pointer;
}

.block-list-title{
    text-align: left;
    margin-bottom: 0px;
    margin-top: 7px;
    margin-left: 10px;
    color: rgb(33, 171, 226);
    font-weight: bold;
}

.blocksTab{
    margin-bottom: 0px;
}

.contributionVisualizationContainer{
   /* border-top: 1px solid rgb(219, 219, 219); */
   margin-top: 3em;
}

.blocklist-message{
    margin-left: 10px;
    margin-bottom: 50px;
}

.visualization-tabs-title{
    text-align: center;
    margin-bottom: 0px;
    margin-top: 7px;
    margin-left: 10px;
    font-weight: bold;
    font-size: 20px;
}

.block-list-content{
    margin-bottom: 30px;  
    max-height: 500px;
    overflow-y: auto;
    overflow-x: hidden;
    margin: 25px;
    box-shadow: 2px 2px 10px 2px rgb(206, 204, 204) !important;
    border: 0.25px black solid;
}

.MuiList-padding{
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}

.multiselect-button-container{
    display: flex;
}

.addBlockButton{
    background:rgb(2, 1, 54);
    color:rgb(219, 243, 242);
    margin-left:1em !important;
    margin-bottom:1em !important;
    size:2.6em !important;
    border:none;
}

.addBlockButton:hover{
    box-shadow: 2px 2px 10px 2px rgb(95, 95, 95);
}

.addBulkBlockButton{
    background:rgb(2, 1, 54);
    color:rgb(219, 243, 242);
    margin-left:1em !important;
    margin-bottom:1em !important;
    size:2.6em !important;
    border:none;
}

.addBulkBlockButton:hover{
    box-shadow: 2px 2px 10px 2px rgb(95, 95, 95);
}

.multiSelectBlockButton{
    background:rgb(73, 2, 70) !important;
    color:rgb(219, 243, 242) !important;
    margin-left:1em !important;
    size:2.6em !important;
    border:none;
}

.multiSelectBlockButton:hover{
    box-shadow: 2px 2px 10px 2px rgb(95, 95, 95);
}

.multiSelectDeleteBlockButton{
    background:rgb(241, 123, 123) !important;
    color:rgb(219, 243, 242) !important;
    margin-left:1em !important;
    size:2.6em !important;
    border:none;
}

.multiSelectDeleteBlockButton:hover{
    box-shadow: 2px 2px 10px 2px rgb(95, 95, 95);
}

.multiSelectCommitBlockButton{
    background:rgb(2, 73, 2) !important;
    color:rgb(219, 243, 242) !important;
    margin-left:1em !important;
    size:2.6em !important;
    border:none;
}

.multiSelectCommitBlockButton:hover{
    box-shadow: 2px 2px 10px 2px rgb(95, 95, 95);
}


.editEntitiesButton{
    background:rgb(2, 1, 54);
    color:rgb(219, 243, 242);
    margin-left:1em !important;
    margin-bottom:1em !important;
    size:2.6em !important;
    border:none;
}

.editEntitiesButton:hover{
    box-shadow: 2px 2px 10px 2px rgb(95, 95, 95);
}

.userblocks-options-container{
    display:flex; 
    flex-direction:row;
    height:auto;
    flex-wrap: wrap;
}

.userblocks-header-container{
    margin:1em 0 1em 0;
}

.contributeOpenTooltipText{
    font-size: 12px;
    font-style: italic; 
    color: black;
}

.contributeOpenTooltipText_v1{
    font-size: 16px;
    color: black;
}

.contributeOpenTooltipTextContainer{
    padding: 3px; 
    margin: 0 1em 0 1em; 
    background: rgba(101, 155, 177, 0.363);
    border-radius: 5px;
}

.contributeOpenTooltipTextContainer_v1{
    padding: 0 5px 0 5px; 
    margin: 0 1em 0 1em; 
    background: rgba(101, 155, 177, 0.6);
    border: 1px solid black;
    animation: catchyAnim linear 1s infinite;
}

@keyframes catchyAnim{
    0%   {margin-left: 1em;}
    50%   {background: rgba(92, 141, 161, 0.253); margin-left: 1em;}
    100%   {margin-left: 1em;}
}

.contributeOpenTooltipTextContainer_v1:hover{
    animation: none;
}

.graphVisualizationSingleEntity{
    margin-bottom: 1em;
    margin-left: 1em;
}

.userBlocks-renderShare{
    margin-bottom: 1em;
    margin-left: 1em;
    margin-right: 1em;
}

.userblocks-share-section-heading{
    font-weight:500;
    margin-left:10px; 
    font-size:0.9em;
    margin-bottom:5px; 
}

.userblocks-share-url-div{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 80vw;
    margin-bottom:20px;
}

.userblocks-share-url{
    margin-left:10px; 
    font-size:0.85em;    
}

.userblocks-share-container{
    padding-top:20px;
    padding-bottom: 10px;
}

.userblocks-share-close{
    margin-left:10px !important;
    margin-top:-10px !important;
    background: rgb(1,1,1) !important;
}

.userBlocksDivContainer{
    margin-bottom: 40px;
}